@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #F0EBE3;
}

.container {
    background-color: #E4DCCF;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-game {
    background-color: #7d9d9cd9;
    padding: 5em;
    border-radius: 12px;
    box-shadow: 0 2px 20px black;
}

.title {
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.5em;
}

.display {
    text-align: center;
    margin-bottom: 2.6em;
}

.display p {
    font-size: 1.5em;
}

.hide {
    display: none;
}

.tiles-container {
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 2px solid #576F72;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    background-color: #dcd5cb;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerX {
    color: #334041;
    font-size: 1.8em;
    font-weight: bold;
}

.playerO {
    color: #ad996e;
    font-size: 1.8em;
    font-weight: bold;
}

#reset {
    margin-top: 4em;
    padding: 0.9em;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: #576F72;
    color: #F0EBE3;
    cursor: pointer;
    transition: 0.6s;
}

#reset:hover {
    background-color: #485b5e;
}

footer {
    background-color: #ada9a0;
}

#copyright {
    text-align: center;
    padding: 1em 0;
    font-size: 1.5em;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-list li {
    margin: 1em;
}

.social-list li a {
    font-size: 1.6em;
}